@font-face {
  font-family: Euclid;
  src: url(../fonts/EuclidCircular-Bold/EuclidCircularA-Bold.eot),
    url(../fonts/EuclidCircular-Bold/EuclidCircularA-Bold.woff) format("woff"),
    url(../fonts/EuclidCircular-Bold/EuclidCircularA-Bold.woff2) format("woff2"),
    url("../fonts/EuclidCircular-Bold/EuclidCircularA-Bold.ttf")
      format("truetype");
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: Euclid;
  src: url(../fonts/EuclidCircular-Medium/EuclidCircularA-Medium.eot),
    url(../fonts/EuclidCircular-Medium/EuclidCircularA-Medium.woff)
      format("woff"),
    url(../fonts/EuclidCircular-Medium/EuclidCircularA-Medium.woff2)
      format("woff2"),
    url("../fonts/EuclidCircular-Medium/EuclidCircularA-Medium.ttf")
      format("truetype");
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: Euclid;
  src: url(../fonts/EuclidCircular-Regular/EuclidCircularA-Regular.eot),
    url(../fonts/EuclidCircular-Regular/EuclidCircularA-Regular.woff)
      format("woff"),
    url(../fonts/EuclidCircular-Regular/EuclidCircularA-Regular.woff2)
      format("woff2"),
    url("../fonts/EuclidCircular-Regular/EuclidCircularA-Regular.ttf")
      format("truetype");
  font-style: normal;
  font-display: fallback;
}
